-#
  Here should live logic of output for Deal preview in listing

  Due date:

    - Если дата начала распродажи больше текущей,
      на счетчике срока действия распродажи выводим уточнение “начнется через n дней”.

    - Если дата начала распродажи меньше либо равна текущей, дата окончания больше текущей,
      счетчик показывает число оставшихся до окончания дней.

    - Если дата начала распродажи меньше либо равна текущей, дата окончания распродажи равна текущей
      на счетчике выводится уточняющий текст “заканчивается сегодня”.

    - Если дата окончания распродажи меньше текущей распродажа не выводится
