-#
  Here should live logic of output portal deals listing

  Rubricator correlation:

    - Выводим рубрикатор распродаж по аналогии с товарным. Модель вывода, раскрываемость - все по аналогии с
      рубрикатором в товарных листингах.

    - Если внутри рубрики N нет распродаж к выводу, рубрику не показываем (ссылку на нее).

    - Если внутри рубрики N мало распродаж к выводу (X и менее), после распродаж рубрики JS-ом подгружаем
      распродажи того же родителя, что и у рубрики N. ???

    - В каждой рубрике выводятся распродажи, привязанные к ней и к ее детям.

    - При нахождении на корневой странице раздела “распродажи” листинг строится из всех распродаж,
      одобренных к выводу на портале.

