-#
  Here should be output of Deals listing functionality

  Main components:

    - Portal Header
    - Deals Rubricator
    - Filtering block
    - Sort block
    - Deals previews
    - Interactive Ya.map ?
    - Banner zones
    - Discount products block
    - Paginator

