-#
  Here should live logic of output base Deal card

  Here should outputs info if it up-to-date:

    - Дата начала если не началась
    - Дата окончания если началась
    - "Заканчивается сегодня" если заканчивается сегодня
    - "Акция закончилас" если она закончилась
