-#
  Here should live logic of output for Deals injection to Products listing

  Base logic:

    - В товарном листинге выводим ссылку на листинг распродаж,
      соответствующих текущему региону (если таковые есть):

      - на листинг текущей рубрики
      - если таких нет, на листинг родителя текущей рубрики
      - если таких тоже нет, на листинг родителя родителя текущей рубрики и т.д. и т.п.
        до корневого раздела “распродажи”

