-#
  Here should live logic of output deals for company

  Due date:

    - Если дата начала распродажи больше текущей, распродажа видима видима всем пользователямт.
      На счетчике срока действия распродажи выводим уточнение “начнется через n дней”.

    - Если дата начала распродажи меньше либо равна текущей, дата окончания больше текущей, распродажа видима всем пользователям,
      счетчик показывает число оставшихся до окончания дней.

    - Если дата начала распродажи меньше либо равна текущей, дата окончания распродажи равна текущей
      распродажа видима всем пользователям, на счетчике выводится уточняющий текст “заканчивается сегодня”.

    - Если дата окончания распродажи меньше текущей - для обычных пользователей распродажа не выводится,
      для владельца ск/суперюзера/редактора ск/франшизы распродажа видна и доступна для редактирования.
