-#
  Here should live output logic of deal depend on different deal types and deal activity type

  Deal Type dependance:

    - "Распродажа":

        - Размеры скидки - от..до % (до обязательное)
        - Товары участвующие в распродаже

    - "Скидка на 1 товар или услугу":

        - Старая цена, новая цена, размер скидки
        - Товар на который действует скидка

    - "Скидка при покупке комплекта":

        - Товары входящие в комплект
        - Кол-во единиц каждого товара, необходимое для комплекта
        - Стоимость комплекта без скидки
        - Стоимость комплекта со скидкой (процент + новая цена)

    - "Подарок за покупку":

        - Текстовое поле "Подарок"
        - Товары, за покупку которых дается подарок
        - Кол-во единиц каждого товара, необходимое для получения подарка ? зачем отдельным полем...
        - Товар-подарок
        - Комплектов может быть несколько -> кнопка "Привязать еще комплект"

  Deal Activity Type:

    - "Купон":

        - Кнопка "получить купон", по клику открывается страница с распродажей
        - Номер купона
        - Очищенная от хедера и обвязок страница
        - На странице есть 3 кнопки с вариантами действий:
            - отправить другу на email,
            - отправить себе на email,
            - распечатать

    - "Записаться по акции":

        - Кнопка "Записаться по акции"
        - Открывается попап с формой, аналогичной текущей форме заказа, с другим дефолтным текстом
        - Механизм работы - как с текущей формой заказа (отправка владельцу СК, отображение в сообщениях)


